<ul id="slide-out" class="sidenav sidenav-fixed">
    <li><a href="/">Home</a></li>
    <li><a href="/requests">Mod Requests</a></li>
    <li><a href="/queue">Modding Queue</a></li>
    <li><div class="divider"></div></li>
    <li><a href="/admin/users" class="subheader">Users</a></li>
    <li><a href="/admin/beatmaps" class="subheader">Beatmaps</a></li>
    <li><a href="/admin/requests" class="subheader">Mod Requests</a></li>
    <li><div class="divider"></div></li>
    <li id="log-in-out" data-avatar-size="48"></li>
</ul>
